<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>SmashBurger</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A smashburger is an American culinary delight, characterized by its juicy, flavorful patty, meticulously crafted from fresh, high-quality beef. The patty is expertly seasoned and then "smashed" onto a hot griddle, creating a mouthwatering crust that locks in the savory juices. Nestled between two soft, toasted buns, the smashburger is a symphony of textures and flavors, offering a perfect balance of succulence and char. Each bite delivers a harmonious blend of meaty richness and crispy perfection, making it a beloved classic in the realm of American comfort food.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>OnionSmashBurger</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Introducing our Onion Smashburger: A mouthwatering blend of juicy beef and caramelized onions, nestled between toasted buns for a flavor-packed experience.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>FrenchFries Smashed</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Introducing our Smash Fries: Crispy, flavorful, perfection.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Milkshake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Introducing our Milkshake Smash: Creamy, dreamy, and utterly indulgent. Sip into bliss with our handcrafted milkshake, blended to perfection with premium ingredients for a rich, satisfying treat.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Brand
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>